.button-back-page {
  width: 300px;
}

.button-cadastrar-novo-evento {
  padding: 0 50px;
  margin-top: 30px;
}

.txt-no-eventos-reg {
  font-size: 28px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: rgba(160, 19, 0, 0.8);
}

.txt-no-eventos-reg {
  font-size: 22px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: rgba(156, 76, 65, 1);
}

.icon-no-eventos-reg {
  width: 150px;
  margin-right: 30px;
}

.button-back-page-novo-evento {
  margin-top: 30px;
}

@media screen and (min-width: 1024px) and (max-width: 1500px) {
  .button-back-page {
    width: 130px;
    line-height: 20px;
  }

  .button-cadastrar-novo-evento {
    padding: 0 30px;
    margin-left: 20px;
  }
}

@media screen and (min-width: 1501px) and (max-width: 1700px) {
  .button-back-page {
    width: 240px;
  }
}