.loader {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: #E9222A;
  animation: fadeOutLoaderAni 3s;
}

.loader img {
  width: 200px;
  position: absolute;
  margin-left: -100px;
  left: 50%;
  top: 48%;
  animation: fadeInLoaderAni 1s, loaderAni 2s infinite;
}

@keyframes loaderAni {
  0%, 100%   { 
    margin-top: 0;
  }
  50% { 
    margin-top: -20px;
  }
}

@keyframes fadeInLoaderAni {
  0%   { 
    opacity: 0;
  }
  100% { 
    opacity: 1;
  }
}


@keyframes fadeOutLoaderAni {
  0%   { 
    opacity: 1;
  }
  95%   { 
    opacity: 1;
  }
  100% { 
    opacity: 0;
    display: none;
  }
}