<section class="sub-menu-header">
  <div class="center-container">
    <nav class="sub-menu-header-nav"> 
      <ul class="sub-menu-header-nav-ul">
        <li class="sub-menu-header-item">
          <a routerLink="/canais">Lista de Canais</a>
        </li>
        <li class="sub-menu-header-item">
          <a routerLink="/canais/adicionar">Adicionar Canal</a>
        </li>
        <li class="sub-menu-header-item">
          <a routerLink="/ocorrencias-especiais">Ocorrências Especiais</a>
        </li>
        <li class="sub-menu-header-item">
          <a routerLink="/produtos-auxiliares">Produtos Auxiliares</a>
        </li>
        <li class="sub-menu-header-item">
          <a routerLink="/eventos">Eventos</a>
        </li>
      </ul>
    </nav>
  </div>
</section>