<header class="main-header row">
  <div class="center-container">
    <div class="container-logo fl">
      <img class="fl" src="../assets/images/logo-branco.png" />
    </div>

    <!-- Component Page Title -->
    <div class="container-title-component">
      Gerência de Ocorrências Especiais
    </div>

    <div class="container-user-main-menu">
      <button id="user-main-menu">
        <span></span>
        <span></span>
        <span></span>
      </button>

      <div class="button-header-user-name fl">Carl Sagan</div>
    </div>

    <div class="button-header-exit fr" (click)="exit()">Sair</div>
  </div>
</header>