<div class="row">
  <h1>Relatório de Ocorrências Especiais</h1>
  
  <div class="col-96">
    <table class="gray-table">
      <thead>
          <tr>
            <th>Ocorrência Especial 1</th>
            <th>Ocorrência Especial 2</th>
            <th>Ocorrência Especial 3</th>
            <th>Ocorrência Especial 4</th>
          </tr>
      </thead>
      <tfoot>
          <tr>
            <td>Informação Rodapé 1</td>
            <td>Informação Rodapé 2</td>
            <td>Informação Rodapé 3</td>
            <td>Informação Rodapé 4</td>
          </tr>
      </tfoot>
      <tbody>
          <tr>
            <td>Informação 1</td>
            <td>Informação 1</td>
            <td>Informação 1</td>
            <td>Informação 1</td>
          </tr>
          <tr>
            <td>Informação 2</td>
            <td>Informação 2</td>
            <td>Informação 2</td>
            <td>Informação 2</td>
          </tr>
          <tr>
            <td>Informação 3</td>
            <td>Informação 3</td>
            <td>Informação 3</td>
            <td>Informação 3</td>
          </tr>
          <tr>
            <td>Informação 4</td>
            <td>Informação 4</td>
            <td>Informação 4</td>
            <td>Informação 4</td>
          </tr>
      </tbody>
    </table>
  </div>
</div>