<!-- Old Screen Resolution or PC from the 90's -->
<app-responsive></app-responsive>

<div class="container-site">
  <!-- Loader -->
  <app-loader></app-loader>

  <!-- Fake Login XD -->
  <app-login></app-login>

  <!-- Header Component  -->
  <app-header></app-header>

  <!-- Sub Header Component -->
  <app-sub-menu-header></app-sub-menu-header>

  <!-- Side Menu Component -->
  <app-side-menu></app-side-menu>

  <!-- Main Content Component - Where the <routes> are -->
  <app-main-content></app-main-content>
</div>
<!--
<section class=""></section>

<div class="center-container">
  <i class="material-icons">face</i>
  
  <div class="row">
    <div class="col col-50">
      <h1>h1 Título - TÍTULO</h1>
      <h2>h2 Título - TÍTULO</h2>
      <h3>h3 Título - TÍTULO</h3>
      <h4>h4 Título - TÍTULO</h4>
      <h5>h5 Título - TÍTULO</h5>
      <h6>h6 Título - TÍTULO</h6>
    </div>

    <div class="col col-50">
      <form id="form" class="row">
        <div class="row line-input">
          <label class="label">Input</label>
          <input type="text" name="" class="input-text" placeholder="" />
        </div>
            
          
        <button class="button black-button fr">Enviar</button>
      </form>
    </div>
  </div>
</div>
-->
