
<aside class="container-side-menu">
  <nav>
    <ul>
      <li class="menu-active">
        <a routerLink="/canais">Canais</a>

        <ul>
          <li class="sub-menu-active">
            <a routerLink="/canais">Lista de Canais</a>
          </li>
          <li>
            <a routerLink="/canais/adicionar">Adicionar Canal</a>
          </li>
        </ul>
      </li>
      <li>
        <a routerLink="/ocorrencias-especiais">Ocorrências Especiais</a>
      </li>
      <li>
        <a routerLink="/produtos-auxiliares">Produtos Auxiliares</a>
      </li>
      <li>
        <a routerLink="/eventos">Eventos</a>
      </li>
    </ul>
  </nav>
</aside>
  