<div class="container-alert-responsive">
    <div class="center-container">
      <div class="row">
        <div class="col-50">
          <img class="old-computer" src="../../../assets/images/icons/old-computer.svg" />
        </div>

        <div class="col-50">
          <img src="../../../../assets//images/logo-branco.png" class="logo-login" />
          <span class="tit-responsive fl row">A sua tela parece pequena! <br/> Por favor, aumente a resolução do seu monitor! <br><br> Resolução mínima: 1366px x 768px</span>
        </div>
      </div>
    </div>
</div>
